body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        section {
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        img {
            border-radius: 50%;
        }

        nav {
            text-align: center;
            margin-top: 20px;
        }

        nav a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
            border-radius: 5px;
        }

        nav a:hover {
            background-color: #555;
        }
		input {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
            border-radius: 5px;
        }

        input:hover {
            background-color: #555;
        }